*{
    margin: 0px;
    padding: 0px;
    font-family: Libre Baskerville Static;
}

:root{
    --x:#1c2d41
}

.logo{
    width: 160px;
    height: 75px;
   
    object-fit: cover;
}
.fa-twitter ,.fa-facebook-f ,.fa-instagram{
    font-size: 30px;
    padding: 5px;
    align-items: center;
    color: #1c2d41;
}

.fa-twitter:hover ,.fa-facebook-f:hover ,.fa-instagram :hover{
    font-size: 30px;
    padding: 5px;
    align-items: center;
    color: #1c2d41eb;
}



.img2{
    width: 100%;
    height: 100%;
    
}
.ContactBtn{
    background-color: #1c2d41;
    border-radius: 0;
    color: aliceblue;
    font-weight: 800;
}

.ContactBtn:hover{
    background-color:#1c2d41eb;
    border-radius: 0;
    color: aliceblue;
    font-weight: 800;
}
.nav-item a{
color: gray;
font-size: 20px;
}
@media(max-width:992px)
{
    .nav-item i{
     display: none;
    }
}

#main{
    background-image: url(media/pic1.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
}

.work{
    margin-top: 10%;
    background-image: url('https://img.freepik.com/premium-vector/light-blurred-bokeh-background-vector-illustration_64749-4575.jpg');
    padding-top: 8%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


#WELCOME{
   
    color: white;
    margin-top: 8%;
    margin-left: 9%;
}
#WELCOME h4{
    
   font-size: 50px;
}
#WELCOME h1{
    font-size: 100px;
}
#WELCOME button{
    border-color: white;
    color: white;
    
    font-size: 15px;
    font-weight: bolder;

}

#WELCOME button:hover{
    border-color: white;
    color:#729cbb;
    background-color: black;
    font-size: 20px;
    font-weight: 600;
}



.card a{
    background-color: white;
    border-radius: 0;
    color: #1c2d41;
    border-color: #1c2d41;
    font-weight: 800;


}
.card{
    border: none;
}
.card a:hover{
    background-color: #1c2d41;
    border-radius: 0;
    color: white;
    border-color: white;
    font-weight: 800;


}

.img1 {
    object-fit: cover;
   
    height: 400px;

   
}

.img2 {
    object-fit: cover;

    height: 400px;
   
  
}
.img3 {
    object-fit: cover;

    height: 400px;

    
}
.work-title{
font-size:23px;
padding: 0;
}

.work-title1{
    font-size:22px;
    padding: 0;
    }
    
    @media(max-width:750px)
    {
     #WELCOME h4{
        font-size: 19px;
     }
     #WELCOME h1{
        font-size: 25px;
     }
     #WELCOME h2{
        font-size: 22px;
     }
    }
    

    .about{
        background-color: rgb(87, 87, 87,0.677);
        padding-top:7% ;
        padding-bottom: 4%;
        }   

.aboutdiv{
border-width: 10px;
border: 5px solid   var(--x);
padding-left: 5%;
padding-top: 5%;
height: 450px;

}
#hr{
    width: 200px;
    height: 7px;
    background-color: var(--x);
}

.Btnview{
    background-color: white;
    border-radius: 0;
    color: #1c2d41;
    border-color: #1c2d41;
    font-weight: 800;
}
